---
import { siteInfo } from 'src/const/site-info';
import '../styles/global.css'
import { ClientRouter } from "astro:transitions";
import { Header } from '@components/common/Header.jsx';
import Footer from '@components/common/Footer.astro';

interface Props {
	title?: string;
	image?: string;
	description?: string; 
}

const {title= siteInfo.title , description= siteInfo.description, image} = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!--  SEO -->
		<meta name="description" content={description} />
		<meta name="author" content={"Kenyo Solis"} />


		<!-- OG Metatags  -->
		<meta property="og:title" content={`"Pokemon:" ${title}`} />
		<meta property="og:description" content={description}/>
		<meta property="og:image" content={image}/>


		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="m-auto max-w-screen">
		<Header client:only="react" path={currentPath} />
		<main>
			
			
			<slot />

		</main>
		<Footer />

	</body>
</html>

